<div class="d-flex mt-4 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto card">
                <div class="card-header row">
                    <h5 class="card-title">Znamenitosti</h5>
                </div>
                <div class="card-body">
                    <app-add-edit-modal [title]="'Add znamenitost'" [text]="'Dodaj znamenitost'" (save)="dodaj()"></app-add-edit-modal>
                </div>
                <div *ngIf="dodato" class="alert alert-success" role="alert">
                    Uspesno dodato!
                </div>
                <div *ngIf="editovano" class="alert alert-success" role="alert">
                    Uspesno editovano!
                </div>
                <div class="card-body  d-block w-100">
                    <app-adminpregledznamenitosti [num]="num" (onEdit)="edituj()"></app-adminpregledznamenitosti>
                </div>
                <div class="card-footer row">
                    <app-pagination (pageEvent)="paginationHandle($event)"></app-pagination>
                </div>
               
            </div>

        </div>
    </div>
</div>