<!-- Todos: Prosecna ocena, oceni objekat, slike. -->
<div class="card mb-3">
    <h3 class="card-header">{{znamenitost.naziv}}</h3>
    <div class="card-body">
      <h5 class="card-title">Prosecna ocena: 5</h5>
      <h6 class="card-subtitle text-muted">{{znamenitost.vaznost}}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{znamenitost.opis}}.</p>
    </div>
    <div class="card-footer text-muted">
      {{znamenitost.koordinate.lat}}/{{znamenitost.koordinate.lon}}
    </div>
  </div>
